<mat-dialog-content class="user-form-content">
  <form [formGroup]="form" class="form-fields">

    <mat-form-field appearance="outline">
      <mat-label>{{ 'forms.name' | translate }}</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="form.get('name')?.hasError('required')">
        {{ 'forms.validation.nameRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
        {{ 'forms.validation.nameMax' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'forms.email' | translate }}</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        {{ 'forms.validation.emailRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        {{ 'forms.validation.emailInvalid' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('maxlength')">
        {{ 'forms.validation.emailMax' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" *ngIf="!isEdit">
      <mat-label>{{ 'forms.profile' | translate }}</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role.code">
          {{ ('users.roles.' + role.code) | translate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('role')?.hasError('required')">
        {{ 'forms.validation.profileRequired' | translate }}
      </mat-error>
    </mat-form-field>

    <div class="info-message" *ngIf="!isEdit">
      <mat-icon>info</mat-icon>
      <span [innerHTML]="'forms.info.defaultPassword' | translate"></span>
    </div>

  </form>
</mat-dialog-content>
