__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.build/
.eggs/
*.egg-info/
.installed.cfg
pip-wheel-metadata/
htmlcov/
.coverage*
.mypy_cache/
.pytest_cache/
.pyre/
venv/
.venv/
.env
.env.*
.DS_Store
.idea/
.vscode/
