<mat-dialog-content class="password-form-content">
  <form [formGroup]="form" class="form-fields">

    <mat-form-field appearance="outline">
      <mat-label>{{ 'forms.password' | translate }}</mat-label>
      <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
      <button mat-icon-button matSuffix type="button" (click)="hidePassword = !hidePassword">
        <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="form.get('password')?.hasError('required')">
        {{ 'forms.validation.passwordRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('password')?.hasError('minlength')">
        {{ 'forms.validation.passwordMin' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'forms.confirmPassword' | translate }}</mat-label>
      <input matInput type="password" formControlName="confirmPassword">
      <mat-error *ngIf="form.hasError('passwordsDoNotMatch')">
        {{ 'forms.validation.passwordMismatch' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('confirmPassword')?.hasError('required')">
        {{ 'forms.validation.passwordConfirmRequired' | translate }}
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
