<mat-dialog-content class="role-form-content">
  <form [formGroup]="form" class="form-fields">

    <mat-form-field appearance="outline">
      <mat-label>{{ 'forms.profile' | translate }}</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let option of roles" [value]="option.code">
          {{ ('users.roles.' + option.code) | translate }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('role')?.hasError('required')">
        {{ 'forms.validation.profileRequired' | translate }}
      </mat-error>
    </mat-form-field>

  </form>
</mat-dialog-content>
